<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="choi.toi.data.ws.repository.mapper.TemplateMapper">

    <resultMap id="TemplateResultMap" type="Template">
        <id     property="id"                   column="id" />
        <result property="userId"               column="user_id" />
        <result property="type"                 column="type" />
        <result property="name"                 column="name" />
        <result property="createdDatetime"      column="created_datetime" />
        <result property="updatedDatetime"      column="updated_datetime" />
    </resultMap>

    <insert id="insertTemplate" parameterType="Template" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO templates (
            user_id,
            type,
            name
        ) VALUES (
            #{userId},
            #{type},
            #{name}
        )
    </insert>

    <select id="selectTemplateById" parameterType="Long" resultMap="TemplateResultMap">
        SELECT
            id,
            user_id,
            type,
            name,
            created_datetime,
            updated_datetime
        FROM templates
        WHERE id = #{templateId}
    </select>

    <select id="selectTemplateByUserId" parameterType="Long" resultMap="TemplateResultMap">
        SELECT
            id,
            user_id,
            type,
            name,
            created_datetime,
            updated_datetime
        FROM templates
        WHERE user_id = #{userId}
    </select>
    <select id="selectTemplateByTemplateType" parameterType="TemplateType" resultMap="TemplateResultMap">
        SELECT
            id,
            user_id,
            type,
            name,
            created_datetime,
            updated_datetime
        FROM templates
        WHERE type = #{type}
    </select>

    <update id="updateTemplate" parameterType="Template">
        UPDATE templates
        SET name = #{name},
            updated_datetime = #{updatedDatetime}
        WHERE id = #{id}
    </update>

    <delete id="deleteTemplate" parameterType="Long">
        DELETE FROM templates WHERE id = #{templateId}
    </delete>
</mapper>
