<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.aetherit.project.base.repository.mapper.UserMapper">
    <resultMap id="BaseUserResultMap" type="BaseUser">
        <id property="id"                       column="id" />
        <result property="password"             column="password" />
        <result property="name"                 column="name" />
        <result property="type"                 column="type" />
        <result property="isEnabled"            column="is_enabled" />
        <result property="createdDatetime"      column="created_datetime" />
        <result property="updatedDatetime"      column="updated_datetime" />
    </resultMap>

    <select id="selectUser" parameterType="String" resultMap="BaseUserResultMap">
        SELECT id,
               password,
               name,
               type,
               is_enabled,
               created_datetime,
               updated_datetime
        FROM base_users
        WHERE id = #{value}
    </select>

    <select id="selectUsersWhereType" parameterType="BaseUserType" resultMap="BaseUserResultMap">
        SELECT id,
               password,
               name,
               type,
               is_enabled,
               created_datetime,
               updated_datetime
        FROM base_users
        WHERE type = #{value}
        ORDER BY created_datetime DESC
    </select>

    <insert id="insertUser" parameterType="BaseUser">
        INSERT INTO base_users (
            id,
            password,
            name,
            type,
            is_enabled,
            created_datetime,
            updated_datetime
        ) VALUES (
            #{id},
            #{password},
            #{name},
            #{type},
            #{isEnabled},
            NOW(),
            NOW()
        )
    </insert>
</mapper>
